
#holder {
  height: 400px;
  width: 25%;
  border: 1px solid green;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  //display: flex;
  //flex-direction: row;
}

#display {
  //align-self: center;
  //display: flex;
  height: 20%;
  width: 80%;
  text-align: center;
  border: 1px solid blue;
}

#buttons {
  height: 60%;
  width: 80%;
  border: 1px solid red;

}

.row {
  width: 100%;
  border: 1px solid green;
  display: flex;
}

.button {
  width: 25%;
  margin: 0;
  text-align: center;
  border: 1px solid black;
}

#spacer {
  width: 75%;
}

#clear {
  background-color: red;
}